main {
    text-align: center;
}

body {
    margin: 0;

    background: #5027b1;
    color: #ffffff;

    font-family: "Segoe UI", Arial, sans-serif;
}
h1,
h2,
h3,
h4 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
}

button {
    padding: 12px 24px;

    border: none;
    border-radius: 10px;

    background: #ffffff;
    color: #5027b1
}

button:hover {
    transform: translateY(-2px);

}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;

    padding: 20px;
    
    background: #3d1d87;
}

nav a {
    color: white;
    text-decoration: none;

    font-size: 16px;
    font-weight: 600;

    padding: 10px 18px;
    border-radius: 10px;

    transition: 0.2s ease;
}

nav a:hover {
    background: #5027b1;
}

/*Navbar for mobile
*/
@media (max-width: 600px) {
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    main {
        padding-bottom: 80px;
    }
}